{{define "head"}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}" />
  <link
    rel="preload"
    href="/static/fonts/BarlowCondensed/BarlowCondensed-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/static/fonts/BarlowCondensed/BarlowCondensed-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/static/fonts/Montserrat/Montserrat-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/static/fonts/Montserrat/Montserrat-Medium.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/static/fonts/Montserrat/Montserrat-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="/static/fonts/OxygenMono/OxygenMono-Regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="/static/js/htmx.js"></script>
  <script defer src="/static/js/alpine.js"></script>
</head>
{{ end }}
