{{define "head"}}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .description }}" />
  <link
    rel="preload"
    href="/fonts/BarlowCondensed/BarlowCondensed-Regular.woff2"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    href="/fonts/BarlowCondensed/BarlowCondensed-Bold.woff2"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    href="/fonts/Montserrat/Montserrat-Regular.woff2"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    href="/fonts/Montserrat/Montserrat-Medium.woff2"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    href="/fonts/Montserrat/Montserrat-Bold.woff2"
    as="font"
    type="font/woff2"
  />
  <link
    rel="preload"
    href="/fonts/OxygenMono/OxygenMono-Regular.woff2"
    as="font"
    type="font/woff2"
  />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
  ></script>
</head>
{{ end }}
