{{ define "navigation_links" }}
<div
  class="hidden flex-row items-center sm:flex"
  hx-boost="true"
  hx-target="#page"
>
  <a href="/" class="flex align-middle transition-all">
    <span class="relative px-2 py-1">Me</span>
  </a>
  <a href="/blog" class="flex align-middle transition-all">
    <span class="relative px-2 py-1">Blog</span>
  </a>
</div>
<div class="flex sm:hidden">
  <button
    aria-label="Mobile nav menu button"
    class="-mx-4 -my-2 px-4 py-2"
  ></button>
</div>
{{ end }}
