<!DOCTYPE html>
<html
  lang="en"
  x-data="theme"
  x-bind:class="{ 'dark': theme === 'dark' }"
  x-init="init"
  style="--accent-hue: {{.AccentHue}}"
>
  {{ template "head" . }}
  <body
    class="bg-white text-black antialiased transition-colors dark:bg-background-700 dark:text-white"
  >
    <div class="mb-40 max-w-3xl md:mx-auto">
      <main class="flex min-w-0 flex-auto flex-col px-2 md:px-0">
        {{template "nav" .}}

        <div id="page" hx-swap-oob="true">
          {{ .Template }}
        </div>
      </main>
    </div>

    {{template "footer" .}}

    {{if .LiveReloadEnabled }}
    {{template "livereload"}}
    {{ end }}
    <script>
      if (!CSS.supports("animation-timeline: view()")) {
        const markElements = document.querySelectorAll("mark");

        for (const mark of markElements) {
          const OPTS = {
            threshold: 1.0,
          };
          const HANDLE = (entries) => {
            entries.forEach((entry) => {
              entry.target.style.setProperty(
                "--highlighted",
                entry.isIntersecting ? 1 : 0
              );
            });
          };
          const OBSERVER = new IntersectionObserver(HANDLE, OPTS);

          OBSERVER.observe(mark);

          observerAdded.current = true;
        }
      }
    </script>
  </body>
</html>
